@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1.blue, h1 .blue {
  @apply text-blue;
}

h1 {
  @apply font-poppins text-white xl:text-[64px] lg:text-[56px] text-[48px];
}

h2 {
  @apply font-poppins text-white xl:text-[48px] lg:text-[42px] text-[36px];
}

h3 {
  @apply font-poppins text-white xl:text-[36px] lg:text-[30px] text-[24px];
}

h3.blue {
  @apply text-blue
}

h4 {
  @apply font-poppins text-white xl:text-[24px] text-[18px];
}

p {
  @apply font-poppins text-white text-[18px];
}

button.blue, .button.blue {
  @apply bg-blue;
}

button, .button {
  @apply flex items-center p-[10px_32px] gap-[10px] rounded-[24px] backdrop-blur-sm bg-lightgray;
}

button p, .button p {
  @apply font-bold leading-normal drop-shadow-[0px_4px_4px_rgba(0,0,0,0.50)] text-center;
}

/* For Webkit browsers (Chrome, Safari, Edge), For Firefox */
::-webkit-scrollbar, scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb, scrollbar-thumb {
  border-radius: 10px;
  @apply bg-lightgray;
}

::-webkit-scrollbar-track, scrollbar-track {
  background-color: transparent;
}

a {
  @apply flex items-center;
}

input.text, textarea {
  @apply rounded-2xl px-6 py-4 bg-lightgray text-white;
}
